html, body {margin: 0; padding: 0; height: 100%; font-size:12px; box-sizing: border-box; line-height:1rem; font-family: 'Nanum Barun Gothic', sans-serif;
    color: rgb(#575757);}
div, ul, li, p, h1, h2, h3, h4, h5 {margin: 0; padding: 0; box-sizing: border-box; list-style:none;}
a{text-decoration: none; color: #575757;}

.img {width:100%;}
.clear {clear:both;}
.clear:after {clear:both; display:block; content:"";}
.hand {cursor:pointer;}

.rel{position: relative;}
.abs{position: absolute;}